/* --- Floating panels layout --- */
#main-layout {
    background-color: var(--bg-app);
    font-family: sans-serif;
    height: 100dvh;
    display: grid;
    gap: 25px;
    padding: 20px;
    grid-template-columns: 300px 1fr;
}

#main-layout aside,
#main-layout main {
    background-color: var(--bg-surface);
    color: var(--text-main);
    backdrop-filter: var(--backdrop);
    border-radius: 20px;
    border: 1px solid var(--border-surface);
    box-shadow: var(--box-shadow);
    padding: 16px 13px;
    min-height: 0;
    overflow: hidden;
}

/* --- Mobile element design --- */
#sidebar-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100dvh;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 90;
    opacity: 0;
    visibility: hidden;
}

#sidebar-toggle,
#sidebar-toggle-fixed {
    display: none;
    user-select: none;
    z-index: 105;
    background-color: var(--accent-primary);
    color: var(--accent-text);
    font-weight: 800;
    font-size: 1.2rem;
    cursor: pointer;
    padding: 8px 22px 8px 17px;
    border: 1px solid var(--accent-primary);
    border-top: none;
    border-left: none;
    border-bottom-right-radius: 20px;
    transition: 
        background-color 0.1s ease,
        color 0.1s ease;
}

#sidebar-toggle-fixed {
    position: fixed;
    top: 0;
    left: 0;
}

#sidebar-toggle:hover,
#sidebar-toggle-fixed:hover {
    background-color: var(--accent-text);
    color: var(--accent-primary);
}

#sidebar-toggle .icon {
    margin-right: 10px;
}

/* --- Responsive design --- */
@media (max-width: 1220px) {
    #main-layout {
        padding: 12px;
        display: flex;
        flex-direction: column;
    }

    #main-layout aside {
        z-index: 100;
        position: fixed;
        left: -300px;
        top: 0;
        height: 100dvh;
        width: 300px;
        border: none;
        border-right: 1px solid var(--accent-primary);
        border-radius: 0;
        box-shadow: none;
        overflow: visible;
        transition: 
            transform 0.3s ease-in-out,
            box-shadow 0.3s ease-in-out;
    }

    #main-layout aside,
    #main-layout main {
        padding-left: 10px;
        padding-right: 10px;
    }

    #main-layout.sidebar-open aside {
        transform: translateX(100%);
        box-shadow: var(--box-shadow);
    }

    #main-layout main {
        flex-grow: 1;
        width: 100%;
    }

    #sidebar-toggle {
        display: block;
        position: absolute;
        top: 0;
        left: 100%;
    }

    #sidebar-overlay {
        transition: 
            opacity 0.3s ease-in-out,
            visibility 0s linear 0.3s;
    }

    #main-layout.sidebar-open #sidebar-overlay {
    opacity: 1;
    visibility: visible;
    transition: 
        opacity 0.3s ease-in-out, 
        visibility 0s linear 0s;
    }
}

@media (max-width: 690px) {
    #sidebar-toggle .text {
        display: none;
    }

    #sidebar-toggle .icon {
        margin-right: 0;
    }

    #sidebar-toggle,
    #sidebar-toggle-fixed {
        padding-right: 19px;
    }
}

@media (max-width: 420px) {
    #main-layout aside {
        left: -100%;
        width: 100vw;
        border-right: none;
    }

    #sidebar-toggle {
        visibility: hidden;
    }

    #sidebar-toggle-fixed {
        display: block;
    }
}