/* --- Floating panels layout --- */
#main-layout {
    background-color: var(--bg-app);
    font-family: sans-serif;
    display: grid;
    gap: 30px;
    padding: 25px;
    width: 100%;
    grid-template-columns: 300px 1fr;
}

#main-layout > * {
    background-color: var(--bg-surface);
    color: var(--text-main);
    backdrop-filter: var(--backdrop);
    border-radius: 20px;
    border: 1px solid var(--border-surface);
    box-shadow: var(--box-shadow);
    padding: 20px 25px;
}

#main-layout aside {
    padding: 20px 28px;
}

#main-layout main {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    padding: 20px 25px;
}

/* --- Mobile design --- */
#sidebar-toggle {
    display: none;
}
