/* --- Page not found --- */
#page-not-found {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    word-break: break-word;
    height: 100%;
}

#page-not-found a {
    border-color: var(--accent-primary);
    color: var(--accent-primary);
    padding: 14px 28px;
    font-weight: 600;
    text-decoration: none;
    text-align: center;
}